certifi==2026.4.22
    # via requests
charset-normalizer==3.4.7
    # via requests
decorator==5.2.1
    # via hansken
docker==7.1.0
    # via hansken-extraction-plugin
grpcio==1.80.0
    # via hansken-extraction-plugin
hansken==2026.3.25
    # via hansken-extraction-plugin
hansken-extraction-plugin==0.10.0
    # via -r requirements.in
idna==3.13
    # via requests
ijson==3.5.0
    # via hansken
iso8601==2.1.0
    # via hansken
logbook==1.9.2
    # via
    #   hansken
    #   hansken-extraction-plugin
more-itertools==11.0.2
    # via hansken
protobuf==7.34.1
    # via hansken-extraction-plugin
python-dateutil==2.9.0.post0
    # via hansken
pytz==2026.1.post1
    # via hansken-extraction-plugin
requests==2.33.1
    # via
    #   docker
    #   hansken
    #   requests-toolbelt
requests-toolbelt==1.0.0
    # via hansken
six==1.17.0
    # via python-dateutil
tabulate==0.10.0
    # via hansken
typing-extensions==4.15.0
    # via
    #   grpcio
    #   hansken-extraction-plugin
    #   logbook
urllib3==2.6.3
    # via
    #   docker
    #   requests
